/*body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, blue, pink);
}*/
#upd {
    display: none;
}
#deleteModal {
    display: none;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
